<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lintech.dao.LogDao" >
  <resultMap id="BaseResultMap" type="com.lintech.entity.Log" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="logger" property="logger" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from t_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="truncate" >
    truncate t_log
  </delete>
  <insert id="save" parameterType="com.lintech.entity.Log" >
    insert into t_log (id, date, logger, 
      priority, message)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{logger,jdbcType=VARCHAR}, 
      #{priority,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.lintech.entity.Log" >
    update t_log
    set date = #{date,jdbcType=TIMESTAMP},
      logger = #{logger,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, date, logger, priority, message
    from t_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, date, logger, priority, message
    from t_log
  </select>
</mapper>